DroidKufi-Bold.ttf filter=lfs diff=lfs merge=lfs -text
DroidSansEthiopic-Bold.ttf filter=lfs diff=lfs merge=lfs -text
DroidSansFallback.ttf filter=lfs diff=lfs merge=lfs -text
DroidSerif-Italic.ttf filter=lfs diff=lfs merge=lfs -text
DroidSansHebrew-Regular.ttf filter=lfs diff=lfs merge=lfs -text
DroidSansMonoDotted.ttf filter=lfs diff=lfs merge=lfs -text
DroidSansMonoSlashed.ttf filter=lfs diff=lfs merge=lfs -text
DroidSerif-Regular.ttf filter=lfs diff=lfs merge=lfs -text
DroidSansFallbackFull.ttf filter=lfs diff=lfs merge=lfs -text
DroidNaskh-Regular.ttf filter=lfs diff=lfs merge=lfs -text
DroidSansDevanagari-Regular.ttf filter=lfs diff=lfs merge=lfs -text
DroidSansHebrew-Bold.ttf filter=lfs diff=lfs merge=lfs -text
DroidSansMono.ttf filter=lfs diff=lfs merge=lfs -text
DroidSansTamil-Regular.ttf filter=lfs diff=lfs merge=lfs -text
DroidSerif-Bold.ttf filter=lfs diff=lfs merge=lfs -text
DroidKufi-Regular.ttf filter=lfs diff=lfs merge=lfs -text
DroidNaskh-Regular-SystemUI.ttf filter=lfs diff=lfs merge=lfs -text
DroidSansArabic.ttf filter=lfs diff=lfs merge=lfs -text
DroidSans-Bold.ttf filter=lfs diff=lfs merge=lfs -text
DroidSansGeorgian.ttf filter=lfs diff=lfs merge=lfs -text
DroidSansJapanese.ttf filter=lfs diff=lfs merge=lfs -text
DroidSerif-BoldItalic.ttf filter=lfs diff=lfs merge=lfs -text
DroidSansArmenian.ttf filter=lfs diff=lfs merge=lfs -text
DroidSansEthiopic-Regular.ttf filter=lfs diff=lfs merge=lfs -text
DroidSansFallbackLegacy.ttf filter=lfs diff=lfs merge=lfs -text
DroidSansTamil-Bold.ttf filter=lfs diff=lfs merge=lfs -text
DroidNaskh-Bold.ttf filter=lfs diff=lfs merge=lfs -text
DroidSansThai.ttf filter=lfs diff=lfs merge=lfs -text
DroidSans.ttf filter=lfs diff=lfs merge=lfs -text
